<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name ="Suite1" parallel="tests" thread-count="2">
<!--<suite name="Suite1">
	sample1-->
 <!--<test name="Regression">
    <classes>
      <class name="com.icehem_automation.LoginPage.TestAnnotation"></class>
    </classes>
 </test> 
  <test name ="Sanity">
	  <classes>
		 <class name="com.icehem_automation.LoginPage.Sample1"></class>
	  </classes>
  </test>
</suite>-->
			
 <!--sample1 sample2 sample3 sample4 sample5--> 
<!--<suite name="Suite1">
	<test name="sanity">
		<classes>
			<class name="com.icehem_automation.LoginPage.Sample1"></class>
			<class name="com.icehem_automation.LoginPage.Sample2"></class>
			<class name="com.icehem_automation.LoginPage.Sample3"></class>
			<class name="com.icehem_automation.LoginPage.Sample4"></class>
			<class name="com.icehem_automation.LoginPage.Sample5"></class>
		</classes>
	</test>
</suite>-->


<!--sample11-->
<!--<test name="Sanity" parallel="classes" thread-count="2">
	  <groups>
		  <run>
			  <include name ="sanity">
				  <exclude name="regression"></exclude>
			
			  </include>
		  </run>
	  </groups>
	  <packages>
		  <package name ="com.icehrm_automation.LoginTest"/>
			  </packages>
</test>
</suite>-->


	  <parameter name="browser" value="firefox">
		  <test name="Flipkart">
			  <parameter name="username"value="admin">
				  <parameter name="username"value="admin@1234">
					  <classes>
						  <class name="com.icehrm_automation.LoginTest.sample5">
							  
						  </class>
					  </classes>
				  
			  </parameter>
			  </parameter>
			  </parameter>
			  
		  </test>
	  
  </suite>
  